<app-common-wrapper-webxpress [breadscrums]="breadscrums" [loadTable]="tableload">  
    <!-- Loading Generic table as parent component and passing  required data-->
    <!--
        columnHeader: a object that contains only that pair of column id:title that are to be shown on dashBoard.
        tableData : api Response.
        addAndEditPath : path of the page where Add and edit is handled.
        uploadComponent : REference of component, which is to be opened in dialog box.
        csvHeaders : a object that contains ordered pair of column id:title that are to be shown in csv file.
        csvFileName : Name of the csv File.
        activeFunction : function refrence that takes data from child , in order to do changes in parent (current) component.
         -->
    <generic-table-webxpress *ngIf="!tableload" [columnHeader]="columnHeader" [tableData]="csv"
        [addAndEditPath]="addAndEditPath" [uploadComponent]="uploadComponent" [csvHeaders]="headerForCsv"
        [csvFileName]="csvFileName" (onFlagChange)="IsActiveFuntion($event)" [metaData]="METADATA"
         [Link]="linkArray" [toggleArray]="toggleArray" [menuItems]="menuItems"  (menuItemClicked)="handleMenuItemClick($event)" [menuItemFlag]="menuItemflag" [dynamicControls]="dynamicControls"
         >
    </generic-table-webxpress>

</app-common-wrapper-webxpress>