<div class="responsive_table">
    <div class="materialTableHeader" matTooltip="Right-Click To Modify Table" matTooltipPosition="above"
        matTooltipClass="tooltip" (contextmenu)="onContextMenu($event)">
        <div class="row">
            <div class="col-auto">
                <ul class="header-buttons-left ml-0">
                    <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i>
                        </label>
                        <input placeholder="Search" type="text" #filter class="browser-default search-field"
                            aria-label="Search box">
                    </li>
                    <li>
                        <div class="export-button m-l-10" *ngIf="dynamicControls" matTooltip="ADD">
                            <button *ngIf="!headercode && dynamicControls.add" mat-mini-fab color="primary">
                                <mat-icon class="col-white" (click)="addNew()">add</mat-icon>
                            </button>
                            <button *ngIf="headercode && dynamicControls.add" mat-mini-fab color="primary">
                                <mat-icon class="col-white" (click)="addNewGeneral()">add</mat-icon>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="export-button m-l-10" matTooltip="REFRESH">
                            <button mat-mini-fab color="primary">
                                <mat-icon class="col-white" (click)="refresh()">refresh
                                </mat-icon>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div *ngIf="uploadComponent" class="export-button m-l-10" matTooltip="Bulk Upload"
                            (click)="onUploadClick()">
                            <button mat-mini-fab color="primary">
                                <mat-icon class="col-white">upload</mat-icon>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-auto ms-auto">
                <ul class="header-buttons">
                    <li>
                        <div *ngIf="dynamicControls.csv" class="export-button m-l-10" matTooltip="CSV">
                            <img src="assets/images/icons/csv.png" alt="" (click)="ExportToCsv()" />
                        </div>
                    </li>
                    <li *ngFor="let box of boxData" style="text-align: center;">
                        <div class="msr-4 align-self-center">
                            <h6 class="font-14 mb-1">{{box.title}}</h6>
                            <p class="badge  shadow-style " [class]="box.class" style="    width: -webkit-fill-available;
                    font-size: 16px !important;">
                                {{box.count}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Generic Table -->
    <table mat-table [dataSource]="dataSource" matSort class="col-12">
        <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">

            <!-- 'tableData' contains the keys of columnHeader Objects , therefore columnHeader[tableData] gives us Title for particular column -->
            <ng-container *ngIf="!metaData.noColumnSort.includes(tableData);else elseBlock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnHeader[tableData]}}
                </th>
            </ng-container>
            <ng-template #elseBlock>
                <th mat-header-cell *matHeaderCellDef> {{columnHeader[tableData]}}
                    <mat-checkbox *ngIf="tableData === 'checkBoxRequired'" class="example-margin" color="primary"
                        (change)="selectAll($event)"></mat-checkbox>
                </th>
            </ng-template>

            <!-- All data except activeFlag and isActive is passed to "formatData" function, which return formatted data, depending upon its datatype/key -->
            <td mat-cell *matCellDef="let element">
                <mat-checkbox *ngIf="tableData=='checkBoxRequired'" color="primary" [(ngModel)]="element.isSelected"
                    (change)="getCheckData($event)" class="example-margin"></mat-checkbox>
                {{Link && !shouldDisplayLink(tableData) && toggleArray && !toggleArray.includes(tableData) ?
                formatData(element[tableData]
                , tableData ): '' }}
                <ng-container *ngFor="let toggle of toggleArray">
                    <mat-slide-toggle *ngIf="tableData==toggle" color="primary" (change)="isActive(element)"
                        [(ngModel)]="element[tableData]">
                    </mat-slide-toggle>
                </ng-container>
                <a *ngIf="shouldDisplayLink(tableData)" (click)="drillDownData(element,tableData)"
                    (ngInit)="triggered = false"><u>{{ formatData(element[tableData],
                        tableData) }}</u></a>
                <button mat-icon-button *ngIf="tableData=='actions'" (click)="editCall(element)"
                    [matMenuTriggerFor]="menuItemFlag ? menu : null" (click)="$event.stopPropagation()"
                    class="tbl-action-btn">
                    <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let item of menuItems"
                        (click)="handleMenuItemClick(item.label,element)">
                        {{ item.label }}
                    </button>
                </mat-menu>
                <button mat-icon-button *ngIf="tableData=='view'" (click)="$event.stopPropagation()"
                    (click)="View(element)" class="tbl-action-btn">
                    <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-edit'"></app-feather-icons>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
        <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
    </table>
    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>

<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="openDialog()">Filter Table Column</button>
    </ng-template>
</mat-menu>