.LoadPlanViewPrint .companylogo {
    border: 1px solid white !important;
    text-align: right;
    padding-right: 50px;
}

.LoadPlanViewPrint .LPHeading {
    border-top: 1px solid white !important;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
    text-align: center;
    border-bottom: 1px solid black;
    color: black;
    font-size: 13.7px;
}

.LoadPlanViewPrint table {
    width: 100%;
    border-collapse: collapse;
}

.LoadPlanViewPrint .table-bordered {
    border-top: 1px solid black;
}

.LoadPlanViewPrint .table-bordered tbody tr td,
.LoadPlanViewPrint .table-bordered tbody tr th {
    padding: 10px;
    color: black;
    font-size: 14.3px;
    border: 1px solid black;
}

.LoadPlanViewPrint .table-bordered thead tr th {
    padding: 10px;
    color: black;
    border: 1px solid bl;
}

.LoadPlanViewPrint .LPDetails {
    color: black;
    font-size: 14.3px;
    font-weight: BOLD;
}