<div class="page-with-hidden-leftsidebar">
    <aside id="leftsidebar" class="sidebar unique-class" #leftsidebar>
        <!-- Sidebar content goes here -->
    </aside>
</div>
<div class="page-with-hidden-navbar">
    <nav #navbar class="navbar">
        <!-- Navbar content goes here -->
    </nav>
</div>
<section class="content" [style.margin-top.px]="-navbar.offsetHeight"
    style="margin-left: 0px; margin-bottom: 0; margin-right: 0;">
    <div class=" card">
        <div class="body">
            <div class="col col-lg-2 mb-1">
                <button mat-raised-button color="primary" printSectionId="print" ngxPrint><i
                        class="fas fa-print msr-2"></i>Print</button>
            </div>
            <div id="print">
                <div id="TemplateData" class="page-break">
                    <!-- view print code -->
                </div>
            </div>
        </div>
    </div>
</section>