 .othercharges {

   //   .centered-text {
   //     text-align: center;
   //     margin-top: 50%;

   //   }

   //   .custom-table {
   //     width: 500px;
   //   }

   // }

   .custom-table {
     width: 50%;
     text-align: right;
   }

   table {
    width: 100%;
  }

 }