<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">

                        <ng-container *ngIf="breadscrums !== undefined">
                            <div class="block-header" *ngFor="let breadscrum of breadscrums">
                                <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items"
                                    [active_item]="breadscrum.active">
                                </app-breadcrumb>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="loadTable !== undefined">
                           
                        <div *ngIf="loadTable==true" class="tbl-spinner">
                            <mat-progress-spinner color="primary" [diameter]="100" mode="indeterminate">
                            </mat-progress-spinner>
                        </div>

                        </ng-container>


                        <ng-content></ng-content>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>