<style>
    .get {
        text-align: center;
        padding: 0px auto;

    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <app-table-boilerplate *ngIf="tabledata" [tableData]="tabledata" [columnHeader]="displayedColumns1"
                    (DeleteAction)="Delete($event)" (UpdateAction)="Update($event)" (AddRow)="addItem($event)"
                    (functionCalled)="functionCallHandler($event)" (Submit)="SaveData($event)"
                    [ActionObject]="ActionObject"></app-table-boilerplate>

            </div>
        </div>
    </div>
</section>