<app-common-wrapper-webxpress [breadscrums]="breadscrums">
    <form class="register-form m-4" [formGroup]="AddTableForm">
        <div class="row">
            <div *ngFor="let field of jsonControlArray" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                <app-form-webxpress [formItem]="field" (callFunction)="functionCaller($event)"></app-form-webxpress>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="example-button-row">
                    <button type="button" mat-raised-button color="primary" (click)="save()">
                        Save
                    </button>
                    <button type="button" mat-raised-button mat-button (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</app-common-wrapper-webxpress>