<form [formGroup]="form">

    <!--textbox (input) controls---------------------------------------------------------->
    <mat-form-field class="example-full-width" appearance="outline"
        *ngIf="(formItem.type=='text' || formItem.type=='number' || formItem.type=='password') && formItem.generatecontrol===true ">

        <mat-label>{{formItem.label}}</mat-label>
        <!-- password block -->
        <ng-container *ngIf="formItem.type=='password';else elseBlock">
            <input matInput [type]="formItem.additionalData.inputType" formControlName={{formItem.name}}
                placeholder={{formItem.placeholder}} [readonly]="formItem.disable" autocomplete="off"
                (click)="functionCalled({field :formItem , functionName:formItem.functions?.onClick, eventArgs: $event })"
                (change)="functionCalled({field :formItem , functionName:formItem.functions?.onChange, eventArgs: $event })"
                (ngModelChange)="functionCalled({field :formItem , functionName:formItem.functions?.onModel , eventArgs: $event})">
        </ng-container>
        <mat-icon matSuffix *ngIf="formItem.type=='password'" (click)="togglePasswordInputType(formItem)">
            {{formItem.additionalData?.showPassword ?'visibility' : 'visibility_off' }}
        </mat-icon>

        <ng-template #elseBlock>
            <!-- text and number type input ----------------------------------------------------------->
            <ng-container *ngIf="(formItem.type=='text'||formItem.type=='number'); else textInput">
                <input matInput type="{{formItem.type}}" formControlName={{formItem.name}} [readonly]="formItem.disable"
                    placeholder={{formItem.placeholder}} suffix={{formItem.suffix}} mask="{{formItem.mask}}"
                    autocomplete="off"
                    (click)="functionCalled({field :formItem , functionName:formItem.functions?.onClick, eventArgs: $event })"
                    (keyup)="functionCalled({field :formItem , functionName:formItem.functions?.onKeyUp, eventArgs: $event })"
                    (change)="functionCalled({field :formItem , functionName:formItem.functions?.onChange, eventArgs: $event })"
                    (ngModelChange)="functionCalled({field :formItem , functionName:formItem.functions?.onModel , eventArgs: $event})">
            </ng-container>
            <!-- rest of the input types ... ---------------------------------------------------------->
            <ng-template #textInput>
                <input matInput type="{{formItem.type}}" formControlName={{formItem.name}} [readonly]="formItem.disable"
                    placeholder={{formItem.placeholder}} suffix={{formItem.suffix}} mask="{{formItem.mask}}"
                    (click)="functionCalled({field :formItem , functionName:formItem.functions?.onClick , eventArgs: $event})"
                    (keyup)="functionCalled({field :formItem , functionName:formItem.functions?.onKeyUp, eventArgs: $event })"
                    (change)="functionCalled({field :formItem , functionName:formItem.functions?.onChange, eventArgs: $event })"
                    (ngModelChange)="functionCalled({field :formItem , functionName:formItem.functions?.onModel , eventArgs: $event})">
            </ng-template>
        </ng-template>

        <!-- error  -->
        <mat-error *ngFor="let error of formItem.Validations">
            <ng-container *ngIf="form.get(formItem.name).hasError(error.name)">
                {{error.message}}
            </ng-container>
        </mat-error>

    </mat-form-field>

    <!--toggles---------------------------------------------------------->
    <mat-slide-toggle *ngIf="formItem.type=='toggle' && formItem.generatecontrol===true" color="primary"
        formControlName={{formItem.name}}>{{formItem.label}}</mat-slide-toggle>

    <!--Datepicker---------------------------------------------------------->
    <mat-form-field class="example-full-width" appearance="outline"
        *ngIf="formItem.type=='date' && formItem.generatecontrol===true">
        <mat-label>{{formItem.label}}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName={{formItem.name}}
            [min]="formItem.additionalData?.minDate" placeholder={{formItem.placeholder}}
            [max]="formItem.additionalData?.maxDate" (dateChange)="functionCalled( {field :formItem , functionName:formItem.functions?.onDate 
                , eventArgs: $event})">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <!-- error  -->
        <mat-error *ngFor="let error of formItem.Validations">
            <ng-container *ngIf="form.get(formItem.name).hasError(error.name)">
                {{error?.message}}
            </ng-container>
        </mat-error>
    </mat-form-field>

    <!--autocomplete dropdown ---------------------------------------------------------->
    <mat-form-field class="example-full-width" appearance="outline"
        *ngIf="formItem.type=='dropdown' && formItem.generatecontrol===true">
        <mat-label>{{formItem.label}}</mat-label>
        <input matInput placeholder={{formItem.placeholder}} [matAutocomplete]="autocomplete"
            formControlName={{formItem.name}}
            (ngModelChange)="functionCalled( {field :formItem , functionName:formItem.functions.onModel , eventArgs: $event })">
        <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="formItem.displaywith"
            (optionSelected)="functionCalled( {field :formItem , functionName:formItem.functions?.onOptionSelect, eventArgs: $event })">
            <mat-option *ngFor="let option of formItem.filterOptions | async" [value]="option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>

        <!-- error   -->
        <mat-error *ngFor="let error of formItem.Validations">
            <ng-container *ngIf="form.get(formItem.name).hasError(error.name)">
                {{error?.message}}
            </ng-container>
        </mat-error>
    </mat-form-field>

    <!-- multiselect Dropdown ---------------------------------------------------------->
    <mat-form-field class="example-full-width" appearance="outline"
        *ngIf="formItem.type === 'multiselect'  && formItem.generatecontrol===true">
        <mat-label>{{formItem.label}}</mat-label>
        <mat-select [formControlName]="formItem.additionalData.support" placeholder={{formItem.placeholder}}
            [multiple]="true" #singleSelect>
            <mat-option>
                <ngx-mat-select-search formControlName={{formItem.name}} placeholderLabel={{formItem.placeholder}}
                    noEntriesFoundLabel="'no matching found'" [showToggleAllCheckbox]="true"
                    toggleAllCheckboxTooltipMessage="Select / Unselect All"
                    [toggleAllCheckboxIndeterminate]="formItem.additionalData.isIndeterminate"
                    [toggleAllCheckboxChecked]="formItem.additionalData.isChecked"
                    (toggleAll)="functionCalled({field :formItem , functionName:formItem.functions?.onToggleAll  , eventArgs: $event})">
                    <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
                </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let item of formItem.filterOptions | async" [value]="item">
                <ng-container *ngIf="formItem.additionalData.showNameAndValue; else showName">
                    {{item.value}} : {{ item.name }}
                </ng-container>
                <ng-template #showName>
                    {{ item.name }}
                </ng-template>
            </mat-option>
        </mat-select>
        <mat-error *ngFor="let error of formItem.Validations">
            <ng-container *ngIf="form.get(formItem.name).hasError(error.name)">
                {{error?.message}}
            </ng-container>
        </mat-error>

    </mat-form-field>

    <!-- single select -->
    <mat-form-field appearance="outline" floatLabel="never" class="example-full-width"
        *ngIf="formItem.type=='select' && formItem.generatecontrol===true">
        <mat-label>{{formItem.label}}</mat-label>
        <mat-select placeholder="{{formItem.label}}" formControlName={{formItem.additionalData.support}}>
            <mat-option>
                <ngx-mat-select-search placeholderLabel="Find bank..." noEntriesFoundLabel="'no matching bank found'"
                    formControlName={{formItem.name}}></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let item of formItem.filterOptions | async" [value]="item">
                <ng-container *ngIf="formItem.additionalData.showNameAndValue; else showName">
                    {{ item.name }}: {{ item.name }}
                </ng-container>
                <ng-template #showName>
                    {{ item.name }}
                </ng-template>

            </mat-option>
        </mat-select>
        <mat-error *ngFor="let error of formItem.Validations">
            <ng-container *ngIf="form.get(formItem.name).hasError(error.name)">
                {{error?.message}}
            </ng-container>
        </mat-error>
    </mat-form-field>
    <!--  -->

    <!--Checkbox-->
    <ng-container *ngIf="formItem.type === 'checkbox'">
        <ng-container *ngIf="formItem.generatecontrol">
            <mat-checkbox class="example-full-width" [formControlName]="formItem.name"
                (change)="functionCalled({field :formItem , functionName:formItem.functions?.onChange, eventArgs: $event })">
                {{formItem.label}}
            </mat-checkbox>
        </ng-container>
    </ng-container>
    <!--Radio Button-->
    <ng-container *ngIf="formItem.type==='radiobutton' && formItem.generatecontrol">
        <mat-radio-group [formControlName]="formItem.name">
            <mat-radio-button *ngFor="let option of formItem.value" [value]="option.value">
                {{ option.name }}
            </mat-radio-button>
        </mat-radio-group>
    </ng-container>

    <!-- OR -->
    <div style="text-align: center; padding-top: 21px;" *ngIf="formItem.type=='OR'">
        <span class="label l-bg-purple shadow-style">OR</span>
    </div>
    <!--textbox (input) Date Timer Picker controls---------------------------------------------------------->
    <mat-form-field class="example-full-width" appearance="outline" *ngIf="(formItem.type=='datetimerpicker')">

        <mat-label>{{formItem.label}}</mat-label>
        <input matInput [owlDateTimeTrigger]="datetimepicker" [owlDateTime]="datetimepicker"
            [formControlName]="formItem.name">
        <owl-date-time #datetimepicker></owl-date-time>
        <mat-datepicker-toggle matSuffix [for]="datetimepicker"></mat-datepicker-toggle>
        <!-- error  -->
        <mat-error *ngFor="let error of formItem.Validations">
            <ng-container *ngIf="form.get(formItem.name).hasError(error.name)">
                {{error.message}}
            </ng-container>
        </mat-error>

    </mat-form-field>
    <!---End-->
    <!--textbox (input)  Timer Picker controls---------------------------------------------------------->
    <mat-form-field class="example-full-width" appearance="outline" *ngIf="(formItem.type=='time')">

        <mat-label>{{formItem.label}}</mat-label>
        <input matInput [owlDateTimeTrigger]="timepicker" [formControlName]="formItem.name" [owlDateTime]="timepicker">
        <mat-icon matSuffix [owlDateTimeTrigger]="timepicker" class="date-icon">schedule</mat-icon>
        <owl-date-time [pickerType]="'timer'" #timepicker></owl-date-time>
        <!-- error  -->
        <mat-error *ngFor="let error of formItem.Validations">
            <ng-container *ngIf="form.get(formItem.name).hasError(error.name)">
                {{error.message}}
            </ng-container>
        </mat-error>

    </mat-form-field>

    <!--Date Picker-->
    <mat-form-field class="datepickercss" style="width: 100%" *ngIf="(formItem.type=='daterangpicker')"
        appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [formControlName]="formItem.name" placeholder="Start date" />
            <input matEndDate [formControlName]="formItem.additionalData.support" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker [calendarHeaderComponent]="CustomeDatePickerComponent"
            [touchUi]="isTouchUIActivated"></mat-date-range-picker>
    </mat-form-field>
    <!--file-->
    <ng-container *ngIf="formItem.type === 'file' && formItem.generatecontrol">
        <mat-form-field appearance="outline" [floatLabel]="updateFloatLabelType(formItem.disable)"
            class="example-full-width">
            <mat-label>{{formItem.label}}</mat-label>
            <input matInput style="cursor:pointer" [formControlName]="formItem.name" readonly="true"
                (click)="fileInput.click()" class="example-full-width">
            <button mat-icon-button matSuffix (click)="fileInput.click()" class="example-full-width">
                <mat-icon>attach_file</mat-icon>
            </button>

            <input hidden class="example-full-width" style="cursor:pointer" [formControlName]='formItem.name'
                (change)="functionCalled({field :formItem , functionName:formItem.functions?.onChange, eventArgs: $event.target.files })"
                #fileInput type="file" [accept]=formItem.Validations[0]>

        </mat-form-field>
    </ng-container>

    <!--End-->
    <!-- Download Icon -->
    <div style="margin-top: 28px!important;" class="example-full-width" appearance="outline"
        *ngIf="formItem.type=='Icon' && formItem.generatecontrol===true">
        <mat-label>{{formItem.label}}</mat-label>
        <i [class]="fafIconData"></i>
        <mat-icon style="position: absolute!important;" aria-hidden="false" aria-label="Default Chart Of Account"
            [fontIcon]="Icondata" (click)="functionCalled({field :formItem , functionName:formItem.functions?.onClick,
                        eventArgs: $event })"></mat-icon>
    </div>
    <!-- <div  *ngIf="(formItem.type=='newDatePicker')" appearance="outline">
        <date-range-picker></date-range-picker>
        </div> -->
</form>